        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family:  sans-serif;
            line-height: 1.6;
            color: #333;
        }

        
        nav {
            background-color: #008000;
            padding: 10px 0;
        }

        nav ul {
            list-style: none;
            display: flex;
            justify-content: center;
            gap: 30px;
        }

        nav ul li a {
            color: white;
            text-decoration: none;
            font-size: 16px;
            padding: 10px 20px;
            
        }

        nav ul li a:hover {
            background-color: #03411c;
            border-radius: 5px;
        }

        /* Header Section */
        header {
            background-color: #f4f4f4;
            padding: 5px;
        }

        .header-content {
            max-width: 1500px;
            margin: 0;
        }

        .school-section, .students-section {
            background-color: #008000;
            color: white;
            padding: 10px;
            margin-bottom: 5px;
            /* text-align: left; */
        }

        .school-section h2, .students-section h2 {
            font-size: 24px;
            margin-bottom: 10px;
            font-weight: bold;
        }

        .school-section p, .students-section p {
            font-size: 16px;
            line-height: 1.8;
        }

        /* Container for two-column layout */
        .container {
            display: flex;
            max-width: 1200px;
            margin: 30px;
            gap: 0px;
            padding: 0 10px;
        }

      
        .sidebar {
            flex: 0 0 250px;
            background-color: #ecf0f1;
            padding: 20px;
            border-radius: 5px;
        }

        .sidebar h3 {
            color: #2c3e50;
            margin-bottom: 15px;
            font-size: 20px;
        }

        .sidebar ul {
            list-style: none;
        }

        .sidebar ul li {
            padding: 10px 0;
            border-bottom: 1px solid #bdc3c7;
        }

        .sidebar ul li a {
            color: #34495e;
            text-decoration: none;
        }

        .sidebar ul li a:hover {
            color: #008000;
        }

        
        .main-content {
            flex: 1;
            background-color: white;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }

        .main-content h2 {
            color: #2c3e50;
            margin-bottom: 15px;
            font-size: 28px;
        }

        .main-content p {
            margin-bottom: 15px;
            text-align: justify;
        }

        .main-content h3 {
            color: #008000;
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 22px;
        }